.section__hero {
}

.hero__container {
	max-width: 580px;
	margin: 0 auto;
}

/* Step one */

.hero__container-step-one {
	padding-top: 40px;
	padding-bottom: 80px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.hero__image-wrapper {
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(255, 255, 255, 0.35) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

.hero__image {
	width: 100%;
}

.hero__characteristics {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.hero__head-block {
}

.hero__title {
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	text-transform: capitalize;
	margin-bottom: 16px;
}

.hero__price {
	font-size: 20px;
	font-weight: 700;
}

.hero__middle-block {
}

.hero__list-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.55;
	margin-bottom: 16px;
}

.hero__first-list {
}

.hero__first-list-item {
	display: flex;
	gap: 8px;
}

.hero__first-list-item-svg {
	width: 16px;
	height: 16px;
	stroke: #fefeff;
}

.hero__first-list-item-content {
	line-height: 1.4;
	text-align: center;
}

.hero__bottom-block {
	/* display: flex;
	flex-direction: column;
	gap: 32px; */
}

.hero__second-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 8px;
	column-gap: 4px;
	width: 302px;
}

.hero__second-list-item {
	display: flex;
	gap: 12px 8px;
	min-width: 142px;
}

.hero__second-list-item-svg {
	width: 16px;
	height: 16px;
	stroke: #fefeff;
}

.hero__second-list-item-content {
	text-align: center;
	line-height: 1.4;
}

.hero__button {
	padding: 18px 24px;
	border-radius: 8px;
	background: #b68867;
	font-size: 16px;

	transition: ease background-color 0.5s;

	&:hover {
		background-color: #c5a085;
	}
}

@media screen and (min-width: 768px) {
	.hero__container {
		max-width: 968px;
	}

	.hero__container-step-one {
		padding-top: 32px;
		padding-bottom: 80px;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: center;
		gap: 32px 24px;
	}

	.hero__image-wrapper {
		/* width: 360px; */
		width: calc(100% - 344px);
		height: 253px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero__characteristics {
		width: 320px;

		/* width: calc((100% - 24px) / 2); */

		gap: 32px;
	}

	.hero__title {
		font-size: 24px;
	}

	.hero__price {
		& span {
			font-size: 16px;
			font-weight: 400;
			line-height: normal;
		}
	}

	.hero__list-title {
		font-size: 20px;
		font-weight: 400;
		line-height: 1.5;
	}

	.hero__first-list-item-content {
		font-weight: 300;
		line-height: normal;
	}
}

/* Step two */

.hero__container-step-two {
}

.hero__preview-block {
	border-top: 1px solid #4f4f51;
	padding-top: 24px;
	background-color: #1e1e20;
}

.hero__preview-block-list {
	display: flex;
	margin-bottom: 24px;
}

.hero__preview-block-item {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 13px;
	position: relative;
}

.hero__preview-block-marker {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #4f4f51;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6px;
}

.preview-block-marker-svg {
	width: 16px;
	height: 16px;
	fill: #fefeff;
	display: none;
}

.hero__preview-block-list {
	& .hero__preview-block-marker {
		&::after {
			content: '';
			position: absolute;
			width: calc(50% - 6px);
			height: 1px;
			background-color: #4f4f51;
			top: 11.5px;
			right: 0;
		}

		&::before {
			content: '';
			position: absolute;
			width: calc(50% - 6px);
			height: 1px;
			background-color: #4f4f51;
			top: 11.5px;
			left: 0;
		}
	}
}

.first-marker::before {
	display: none;
}

.last-marker::after {
	display: none;
}

.current-marker {
	background-color: #b68867;
	border: 1px solid #fefeff;

	box-shadow: 0 0 0 5px rgba(182, 136, 103, 0.5);

	&::before {
		background-color: #b68867 !important;
	}

	&::after {
		background-color: #b68867 !important;
	}
}

.done-marker {
	background-color: #b68867;
	width: 24px;
	height: 24px;
	margin-top: 0;

	& .preview-block-marker-svg {
		display: block;
	}

	&::before {
		background-color: #b68867 !important;
	}

	&::after {
		background-color: #b68867 !important;
	}
}

.hero__preview-block-content {
	color: #919192;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.4;
}

.hero__preview-block-car {
	display: flex;
	gap: 16px;
}

.hero__preview-block-img {
	width: 74px;
	height: 48px;
}

.hero__preview-block-info {
}

.hero__preview-block-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 0.64;
	margin-bottom: 4px;
}

.hero__preview-block-desc {
	color: #919192;
	line-height: 1.4;
}

.hero__preview-block-time {
	line-height: 1.4;
}

.hero__extras-block {
	padding-top: 32px;
}

.hero__extras-block-title {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 24px;
}

.hero__extras-block-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.hero__extras-block-item {
	display: flex;
	justify-content: space-between;
	width: calc((100% - 8px) / 2);

	border-radius: 8px;
	background-color: #39393b;
}

.extras-item-active {
	background-color: #b68867;

	& .hero__extras-block-item-button {
		background-color: #c5a085;

		&:hover {
			background-color: #4f4f51;
		}
	}
}

.hero__extras-block-item-info {
	padding: 8px 8px 8px 16px;
	display: flex;
	flex-direction: column;

	gap: 8px;
}

.hero__extras-block-item-svg {
	width: 20px;
	height: 20px;
	stroke: #bdbdbe;
	fill: transparent;
}

.hero__extras-block-item-desc {
	line-height: 1.4;
}

.hero__extras-block-item-price {
	font-size: 16px;
	font-weight: 600;
	margin-top: auto;
}

.hero__extras-block-item-button {
	width: 33px;
	background-color: #4f4f51;
	border-radius: 0 8px 8px 0;
	flex-shrink: 0;

	transition: ease background-color 0.8s;

	&:hover {
		background-color: #c5a085;
	}
}

.hero__extras-block-btn-svg {
	width: 24px;
	height: 24px;
	stroke: #fefeff;
}

.header__step-two-button {
	width: 100%;
	margin: 0 auto;
	margin-top: 32px;
	padding: 18px 24px;
	border-radius: 8px;
	background-color: #b68867;
	font-size: 16px;

	transition: ease background-color 0.5s;

	&:hover {
		background-color: #c5a085;
	}
}

@media screen and (min-width: 768px) {
	.hero__preview-block {
		padding-top: 16px;
	}

	.hero__preview-block-list {
		margin-bottom: 30px;
	}

	.hero__preview-block-item {
		gap: 18px;
	}

	.hero__preview-block-content {
		font-weight: 400;
		line-height: normal;
	}

	.hero__preview-block-car {
		gap: 24px;
	}

	.hero__preview-block-title {
		line-height: 1.55;
	}

	.hero__extras-block-item {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 40px;
			top: 8px;
			bottom: 8px;
			width: 1px;
			background-color: #4f4f51;
		}
	}

	.extras-item-active {
		&::before {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	.hero__extras-block-item-info {
		padding-left: 56px;
	}

	.hero__extras-block-item-svg {
		width: 24px;
		height: 24px;
		position: absolute;
		left: 8px;
		top: 8px;
	}

	.hero__extras-block-item-price {
		font-size: 20px;
		font-weight: 700;
	}

	.hero__extras-block-item-button {
		width: 44px;
	}

	.header__step-two-button {
		width: 210px;
		display: block;
	}
}

/* Step three */

.hero__container-step-three {
	padding-top: 32px;
}

.hero__insurance {
	/* padding-top: 32px; */
}

.hero__insurance-title {
	font-size: 20px;
	line-height: 1.5;
	padding-bottom: 24px;
}

.hero__insurance-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.hero__insurance-item {
	padding: 16px;
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 32px;
}

.hero__insurance-item-title {
	text-align: center;
	font-size: 16px;
	margin-bottom: 8px;
}

.hero__insurance-item-price {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
	text-transform: capitalize;
	margin-bottom: 16px;
}

.hero__insurance-item-subtitle {
	font-size: 16px;
	margin-bottom: 16px;
}

.hero__insurance-notice-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 16px;
}

.hero__insurance-notice-item {
	display: flex;
	gap: 8px;
}

.active-insurance-item {
	border: 2px solid rgba(255, 255, 255, 0.2);
	background: linear-gradient(150deg, #b68867 6.05%, #bc8473 88.69%);
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		width: 306px;
		height: 306px;
		transform: rotate(18.307deg);
		position: absolute;
		/* top: 120px; */
		/* left: 130px; */
		right: -195px;
		bottom: -50px;

		border-radius: 29px;
		opacity: 0.5;
		background: linear-gradient(
			168deg,
			rgba(255, 255, 255, 0.3) 8.71%,
			rgba(255, 255, 255, 0) 79.23%
		);
	}

	&::after {
		content: '';
		width: 306px;
		height: 306px;
		transform: rotate(18.307deg);
		position: absolute;
		/* top: 205px; */
		/* left: 30px; */
		right: -95px;
		bottom: -135px;

		border-radius: 29px;
		opacity: 0.5;
		background: linear-gradient(
			168deg,
			rgba(255, 255, 255, 0.3) 8.71%,
			rgba(255, 255, 255, 0) 79.23%
		);
	}
}

.hero__insurance-notice-svg {
	width: 16px;
	height: 16px;
	fill: transparent;
	stroke: #fefeff;
	flex-shrink: 0;
}

.red-svg {
	stroke: #f04438;
}

.green-svg {
	stroke: #72d38d;
}

.hero__insurance-notice-desc {
	line-height: 1.4;
}

.hero__insurance-item-recommend {
	color: #656566;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.4;
}

.hero__insurance-button {
	width: 100%;
	padding: 18px 24px;
	border-radius: 8px;
	background-color: #b68867;
	font-size: 16px;

	transition: ease background-color 0.5s;

	&:hover {
		background-color: #c5a085;
	}
}

@media screen and (min-width: 768px) {
	.hero__insurance-list {
		flex-direction: row;
		align-items: stretch;
		gap: 16px;
	}

	.active-insurance-item {
		transform: scaleY(1.04);
	}

	.hero__insurance-button {
		width: 210px;
		margin: 0 auto;
		display: block;
	}
}

/* Step four */

.hero__container-four {
	padding-top: 32px;
}

.hero__confirming-form-wrapper {
}

.hero__confirming-title {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 24px;
}

.hero__confirming-form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.hero__confirming-form-group {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.hero__confirming-label {
	line-height: 1.4;

	& span {
		color: #b68867;
	}
}

.hero__confirming-input {
	padding: 12px 14px;
	background-color: transparent;
	border: 1px solid #4f4f51;
	border-radius: 8px;

	overflow: hidden;
	color: #919192;
	font-size: 16px;
	line-height: 1.5;

	outline: none;

	&::placeholder {
		overflow: hidden;
		color: #919192;
		font-size: 16px;
		line-height: 1.5;
	}
}

.phone-input-wrapper {
	position: relative;

	& .hero__confirming-input {
		padding-left: 100px;
		width: 100%;
	}
}

.hero__country-select {
	position: absolute;
	background-color: transparent;
	color: #d3d3d3;
	font-size: 16px;
	line-height: 1.5;
	width: 50px;
	left: 28px;
	top: 50%;
	transform: translateY(-50%);
}

.hero__confirming-form-total-info {
	padding: 16px;
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.04);
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.hero__total-info-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.hero__total-info-item {
	display: flex;
	justify-content: space-between;
}

.hero__total-info-option {
	line-height: 1.4;
}

.hero__total-info-value {
	text-align: right;
	font-weight: 300;
}

.hero__total-info-result {
	padding-top: 14px;
	border-top: 1px solid #4f4f51;
	display: flex;
	justify-content: space-between;
}

.hero__total-result {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.55;
}

.hero__total-value {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.55;
}

.hero__confirming-form-checkbox {
	display: flex;
	align-items: center;
	gap: 12px;
	height: 24px;

	& input {
		width: 20px;
		height: 20px;
	}

	& label {
		font-size: 16px;
		line-height: 1.5;
	}
}

.hero__confirming-form-btn-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.hero__confirming-button {
	padding: 18px 24px;
	border-radius: 8px;
	background-color: rgba(182, 136, 103, 0.2);
	font-size: 16px;

	transition: ease background-color 0.5s;

	&:hover {
		background-color: #c5a085;
	}
}

.hero__confirming-button-now {
	padding: 18px 24px;
	border-radius: 8px;
	background: #b68867;

	transition: ease background-color 0.5s;

	&:hover {
		background-color: #c5a085;
	}
}

@media screen and (min-width: 768px) {
	.hero__container-four {
		position: relative;
	}

	.hero__confirming-form-group {
		width: 352px;
	}

	.hero__confirming-form-total-info {
		position: absolute;
		width: calc(100% - 384px);
		top: 32px;
		left: 384px;
	}

	.hero__confirming-form-btn-wrapper {
		flex-direction: row;
		justify-content: center;
		gap: 16px;
	}

	.hero__confirming-button {
		width: 230px;
	}

	.hero__confirming-button-now {
		width: 230px;
	}
}

@media screen and (min-width: 1440px) {
	/* 1 */
	.hero__container {
		max-width: 1920px;
		display: flex;
		justify-content: center;
		gap: 24px;
		margin-top: 128px;
	}

	.hero__container-step-one {
		padding-top: 0;
		padding-bottom: 40px;
	}

	.hero__first-column {
		background-color: #1e1e20;
		padding: 48px 24px;
		max-width: 968px;
		border-radius: 16px;
	}

	.hero__container-step-one {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.hero__button {
		display: none;
	}

	/* 2 */

	.hero__preview-block {
		display: none;
	}

	.hero__extras-block {
		padding-top: 16px;
		border-top: 1px solid #4f4f51;
		padding-bottom: 40px;
	}

	.hero__extras-block-list {
		gap: 24px 16px;
	}

	.hero__extras-block-item {
		width: calc((100% - 32px) / 3);
	}

	.header__step-two-button {
		display: none;
	}

	/* 3 */
	.hero__container-step-three {
		padding-top: 16px;
		border-top: 1px solid #4f4f51;
	}

	.hero__insurance-button {
		display: none;
	}

	/* 4 */

	.hero__container-four {
		padding: 0;
	}

	.hero__confirming-form-group {
		width: 100%;
	}

	.hero__confirming-form-total-info {
		position: static;
		width: 100%;
	}
}

@media screen and (min-width: 1920px) {
	.hero__container {
		gap: 48px;
	}
}
